[user]
	name = violeta
	email = 
	signingkey = 
[core]
	autocrlf = input
	pager = less -F -X
	editor = vim
[alias]
	lg = log --oneline --graph --decorate
	s = status -s
[pull]
	rebase = true
[rebase]
	autosquash = true
	interactive = true
[filesystem "AdoptOpenJDK|16.0.1|/dev/mapper/luksdev"]
	timestampResolution = 5028 nanoseconds
	minRacyThreshold = 5564 microseconds
[filesystem "Eclipse Adoptium|17.0.1|/dev/mapper/luksdev"]
	timestampResolution = 5574 nanoseconds
	minRacyThreshold = 3856 microseconds
[commit]
	gpgsign = true
